page-now-playing {
  .toolbar-background {
    //background: transparentize(black, 0.2);
    background: rgba(11,11,11,1);
  }

  .toolbar-title {
    color: white;
    font-size: 1.8rem;
    font-family: "Noto Sans", Roboto;
    font-weight: 400;
  }

  .main-bg {
    position: fixed;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #666666;

    #background {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: auto;
      height: 100%;
      filter: blur(50px);
    }

    .tinted-bg {
      position: fixed;
      background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,1) 100%);
      //background:radial-gradient(ellipse at center, rgba(153,218,255,0) 0%, rgba(17,17,17,1) 100%);
      padding: 70px 40px;
      top: 56px;
      bottom: 0;
      left: 0;
      right: 0;
    }

    //.grad-bg {
    //  position: relative;
    //  background: linear-gradient(to top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,1) 100%);
    //  //background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.78) 50%, rgba(0,0,0,0.778) 51%, rgba(0,0,0,0.74) 71%, rgba(0,0,0,0.72) 100%);/* W3C */
    //}

    .misc-icon {
      margin-top: 28px;
      font-size: 25px;
      margin-left: 20px;//
    }

    .track-details {
      color: color($colors, 'light');
      margin: 1.7rem 0 0.8rem;

      .track-name {
        font-weight: 400;
        margin: 0;
        color: #ffffff;
      }

      .track-artists {
        font-size: 1.2rem;
        font-weight: 400;
        color: darken(color($colors, 'light'), 30%);
        margin: 0.25rem 0 0;
        font-family: "Noto Sans", Roboto;
      }
    }

    .track-cover {
      margin: 0px auto;
      width: 200px;
      height: 190px;
      overflow: hidden;
      background: transparent;
      border-radius: 4px;
      border: 1px solid #bbbbbb;
    }

    .track-timer {
      //position: fixed;
      //bottom: 70px;
      width: 100%;

      .timer-counter {
        margin-top: -6px;
        padding: 0 7px;
        p {
          margin: 0;
          color: white;
          font-size: 12px;
        }
      }
    }

    .track-controls {
      margin: 1.2rem auto 0;
      width: 100%;
      padding: .5rem 0;
      background: transparent;

      .switches {
        //width: 60%;
        padding: 0 10px 0 8px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      ion-icon {
        font-size: 22px;
        vertical-align: middle;

        &#playBtn {
          font-size: 35px;
        }
      }
    }
  }
}
