now-playing-control-bar {
  position: fixed;
  bottom: 0;
  width: 100%;

  .now-playing {
    background: color($colors, 'dark');
    height: 50px;
    display: flex;
    flex-direction: row;

    .track-cover {
      width: 40px;
      height: 40px;
      margin: .5rem 16px 0;

      img {
        width: 40px;
        height: 40px;
      }
    }

    p {
      margin: .2rem 0 0;
    }
  }
}
